<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd">

    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.JsonMessageConverter"></bean>


    <!--virtual host /trade-->
    <rabbit:connection-factory id="connectionFactory" addresses="mq201.dev.rs.com:5672,mq202.dev.rs.com:5672" username="dev" password="dev_user" virtual-host="/trade"/>
    <rabbit:admin id="admin1" connection-factory="connectionFactory"/>


    <rabbit:queue id="messageDelayQueue" name="messageDelayQueue" durable="true" auto-delete="false" exclusive="false" declared-by="admin1">

    </rabbit:queue>

    <rabbit:direct-exchange id="messageDelayExchange" name="messageDelayExchange" durable="true" auto-delete="false" declared-by="admin1">
        <rabbit:bindings>
            <rabbit:binding queue="messageDelayQueue"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="messageDelayAmqpTemplate" exchange="messageDelayExchange" connection-factory="connectionFactory" routing-key="trade.order.message.delay"/>


</beans>